In [283]:
import torch
import torch.nn as nn
import numpy as np
import pandas as pd

In [284]:
df=pd.read_csv("./data/train.csv")
# For use while saving Out.csv file

In [285]:
df=df.drop(columns=["PassengerId","Ticket","Name","Cabin"])
df=df.fillna(0)

In [286]:
df["Embarked"].unique()

array(['S', 'C', 'Q', 0], dtype=object)

In [287]:
catgry_params=["Sex","Embarked"]
df=pd.get_dummies(data=df,columns=catgry_params,dtype=int)

In [288]:
y_train=torch.tensor(df["Survived"], dtype=torch.float64, device="cuda").unsqueeze(dim=1)
x_train=df.drop(columns=["Survived"])

x_train=torch.tensor(x_train.values, dtype=torch.float64, device="cuda")

In [289]:
# Build the class
model=nn.Sequential(
    nn.Linear(in_features=x_train.shape[1],out_features=x_train.shape[1]*2, device="cuda", dtype=torch.float64),
    nn.ReLU(),
    nn.Dropout(p=0.2),
    nn.Linear(in_features=2*x_train.shape[1],out_features=1,device="cuda", dtype=torch.float64),
    nn.Sigmoid(),
    nn.Dropout(p=0.01)
)

In [290]:
# Build training loop
epochs=500000
loss=nn.BCELoss()
optimizer=torch.optim.SGD(model.parameters(), lr=0.001)

In [291]:
for epoch in range(1,epochs+1):
    model.train()
    optimizer.zero_grad()
    y_pred=model(x_train).to("cuda")
    y_pred = torch.clamp(y_pred, min=1e-7, max=1-1e-7)
    # print(y_pred.unique())
    _loss=loss(y_pred, y_train)
    _loss.backward()
    optimizer.step()

In [292]:
model.eval()
with torch.inference_mode():
    y_pred=model(x_train)
    # implement threshold
    y_pred=[1 if y>=0.5 else 0 for y in y_pred]
    print(sum([1 if y_pred[i]==y_train[i] else 0 for i in range(len(y_pred))])/len(y_train))

model.state_dict()

0.8338945005611672

OrderedDict([('0.weight',
              tensor([[ 1.8348e-01, -1.1284e-01,  6.4873e-02,  1.6201e-01,  1.8548e-01,
                        3.4575e-01, -1.3668e-02,  1.7379e-01,  1.4363e-01, -2.6426e-01,
                        1.7388e-01],
                      [-6.7856e-02,  6.2073e-02,  9.3696e-03, -5.7098e-02, -4.8425e-02,
                       -2.5731e-01,  3.4951e-01, -2.0878e-01, -1.0436e-02,  9.4485e-02,
                       -3.4198e-02],
                      [ 4.0433e-02, -1.7228e-01, -2.6415e-01, -1.4761e-02, -5.4457e-01,
                        1.6312e-01,  1.6875e-01, -2.5495e-01, -1.7494e-01, -1.0229e-02,
                        4.0383e-01],
                      [ 3.3499e-01,  1.5971e-02,  2.0298e-01,  1.1161e-01, -6.8805e-03,
                       -6.2108e-01,  6.8786e-02,  2.1835e-01, -4.1387e-01, -1.2373e-02,
                       -2.6729e-01],
                      [-5.6448e-01,  6.9320e-02, -1.1296e-01,  2.6159e-01, -3.0285e-01,
                        1.2508e-01, -1.4572e-01,  2.7862e-01, -2.4014e-01,  1.8289e-01,
                       -5.4463e-03],
                      [-7.3334e-01, -3.1000e-03,  2.4124e-02, -2.3751e-02, -3.3752e-03,
                        1.5715e+00, -7.1730e-01, -1.3705e-01,  1.8571e-01,  4.1918e-01,
                        6.1287e-02],
                      [ 4.0449e-02,  5.5768e-04,  1.4000e-01,  2.8108e-01,  3.6643e-03,
                       -6.8448e-01,  3.4437e-01, -1.8627e-01, -3.2885e-01,  2.8837e-01,
                       -4.5256e-02],
                      [ 1.4464e-01, -1.8304e-01, -8.6049e-02,  2.1753e-02, -1.1560e-01,
                        8.6664e-02, -2.8098e-01,  2.2266e-01,  8.7878e-02,  7.4533e-02,
                        2.7121e-01],
                      [-9.6067e-03, -2.4034e-02, -5.3682e-02, -1.5811e-02, -1.0105e+00,
                       -2.7711e-01,  3.1961e-01, -8.0055e-02, -2.4227e-01, -1.6897e-01,
                        9.3440e-02],
                      [-1.2954e-01,  1.0878e-02,  2.5836e-01,  1.9530e-01, -1.7550e-01,
                       -9.4853e-02, -3.3472e-02,  1.6971e-01,  2.0490e-01,  2.7800e-01,
                       -2.2953e-01],
                      [-2.3893e-01, -2.5058e-01, -1.6487e-02, -9.1417e-02, -1.5630e+00,
                        1.5254e-01,  1.8802e-01, -2.8891e-01,  2.7322e-01,  2.8994e-01,
                       -6.9695e-05],
                      [-5.1293e-01,  7.5009e-02,  1.7067e-01, -2.7232e-01, -3.1306e-01,
                       -2.3581e-01,  1.8824e-01,  2.0525e-01, -9.8190e-02, -2.3196e-01,
                       -3.4370e-01],
                      [ 2.5441e-01, -1.0149e+00,  2.4935e-01,  3.1557e-02, -2.0919e-02,
                        7.2928e-02,  2.9278e-01,  7.0614e-02, -2.0886e-01, -4.6684e-01,
                        4.6444e-01],
                      [ 1.2247e-01, -9.8496e-02, -5.2000e-02,  2.4809e-01,  2.0203e-01,
                        3.0329e-01, -6.0902e-02,  1.5402e-01, -1.5816e-01, -1.2397e-01,
                       -2.3835e-02],
                      [ 2.0739e-01,  5.4324e-02, -2.2005e-01,  2.5251e-01, -2.4450e-01,
                       -2.7055e-01,  2.4376e-02, -1.6657e-01, -1.9412e-01, -7.7777e-02,
                       -7.4146e-02],
                      [-2.1800e-01, -9.1367e-02, -1.4680e-01,  6.6267e-02,  3.1449e-03,
                       -6.4113e-02, -1.2669e-01, -1.8053e-01, -2.7323e-01, -2.8657e-01,
                       -4.5779e-02],
                      [ 2.3146e-01, -1.1503e-01, -4.8849e-02, -1.4976e-01, -1.5947e-01,
                       -4.7442e-02,  2.0182e-02,  2.1816e-01,  1.3425e-01,  2.8499e-01,
                        1.8803e-01],
                      [ 2.6255e-01,  1.6731e-02,  2.0714e-01,  1.2160e-01, -8.2359e-03,
                       -3.0632e-01,  3.2359e-01, -1.0382e-01, -2.0340e-01, -1.4208e-01,
                       -3.8608e-01],
                      [ 5.0229e-01, -1.8228e-01, -2.6625e-01,  1.8933e-02, -9.7893e-02,
                       -1.7838e-01, -1.2188e-01, -1.1578e-01,  8.4477e-02, -4.0437e-01,
                        1.1799e-01],
                      [-5.0837e-02, -3.6776e-02, -4.1045e-01, -8.4237e-01,  8.2765e-04,
                       -2.0537e-01,  7.8851e-01,  1.6013e-01, -1.9005e-01, -2.3811e-01,
                        1.3009e-01],
                      [ 1.9967e-01,  1.2799e-02,  4.0536e-01, -4.4250e-01, -1.1537e-02,
                       -3.6226e-01,  3.1210e-01,  2.7683e-02, -3.8062e-01, -2.8527e-02,
                       -1.2143e-01],
                      [-1.9447e-02, -7.9505e-02, -2.0481e-01,  7.5483e-01, -2.9778e-03,
                       -6.7407e-01,  7.0830e-01, -5.7980e-02, -1.6150e-01, -5.5664e-01,
                        2.5428e-01]], device='cuda:0', dtype=torch.float64)),
             ('0.bias',
              tensor([ 0.2062, -0.1139,  0.3768, -0.4153,  0.1108,  0.6512,  0.0913, -0.2795,
                       0.2166, -0.0426, -0.1271, -0.1805, -0.3842, -0.0067, -0.0421, -0.3098,
                      -0.0246, -0.2774,  0.2764,  0.4030, -0.3179, -0.2599], device='cuda:0',
                     dtype=torch.float64)),
             ('3.weight',
              tensor([[ 0.0082, -0.1908, -2.2881, -0.7375, -2.0189,  1.9341, -0.7416,  0.1004,
                       -0.2770,  0.0977, -0.1364, -0.7592, -1.2465,  0.0072,  0.2772, -2.9515,
                       -0.2072, -0.5341, -0.6425, -1.1604, -0.7831,  1.3410]],
                     device='cuda:0', dtype=torch.float64)),
             ('3.bias',
              tensor([0.4631], device='cuda:0', dtype=torch.float64))])

In [293]:
df2=pd.read_csv('data/test.csv')
PassengerId=df2["PassengerId"]
df2=df2.drop(columns=["PassengerId","Ticket","Name","Cabin"])
print(df2["Embarked"].unique())
df2=df2.fillna(0)
df2=pd.get_dummies(data=df2,columns=catgry_params,dtype=int)

['Q' 'S' 'C']

In [294]:
x_train.shape

torch.Size([891, 11])

In [295]:
df.drop(columns=["Survived"])

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_0,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,0,1
1,1,38.0,1,0,71.2833,1,0,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
886,2,27.0,0,0,13.0000,0,1,0,0,0,1
887,1,19.0,0,0,30.0000,1,0,0,0,0,1
888,3,0.0,1,2,23.4500,1,0,0,0,0,1
889,1,26.0,0,0,30.0000,0,1,0,1,0,0
890,3,32.0,0,0,7.7500,0,1,0,0,1,0

In [296]:
order=list(df.drop(columns=["Survived"]).columns)
idx=order.index("Embarked_0")
df2.insert(idx,"Embarked_0",[0]*len(df2))

In [297]:
_list=df2.to_numpy()
x_test=torch.tensor(data=_list,device="cuda",dtype=torch.float64)

In [298]:
model.eval()
with torch.inference_mode():
    y_pred=model(x_test)
    y_pred=[1 if y>=0.5 else 0 for y in y_pred]
    df2["Survived"]=y_pred
    df2["PassengerId"]=PassengerId

In [299]:
df2.to_csv(path_or_buf="data/Out.csv", columns=["Survived", "PassengerId"], index=False)

In [300]:
print(pd.read_csv('data/Out.csv'))
PassengerId

     Survived  PassengerId
0           0          892
1           0          893
2           0          894
3           0          895
4           1          896
..        ...          ...
413         0         1305
414         1         1306
415         0         1307
416         0         1308
417         0         1309

[418 rows x 2 columns]

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [301]:
df2.describe()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_0,Embarked_C,Embarked_Q,Embarked_S,Survived,PassengerId
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.0,418.000000,418.000000,418.000000,418.000000,418.000000
mean,2.265550,24.044258,0.447368,0.392344,35.541956,0.363636,0.636364,0.0,0.244019,0.110048,0.645933,0.366029,1100.500000
std,0.841838,17.599608,0.896760,0.981429,55.867684,0.481622,0.481622,0.0,0.430019,0.313324,0.478803,0.482295,120.810458
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,892.000000
25%,1.000000,9.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,996.250000
50%,3.000000,24.000000,0.000000,0.000000,14.454200,0.000000,1.000000,0.0,0.000000,0.000000,1.000000,0.000000,1100.500000
75%,3.000000,35.750000,1.000000,0.000000,31.471875,1.000000,1.000000,0.0,0.000000,0.000000,1.000000,1.000000,1204.750000
max,3.000000,76.000000,8.000000,9.000000,512.329200,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1309.000000